<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CreateNewNuGetPackageFromProjectAfterEachBuild" version="1.8.16" targetFramework="net47" developmentDependency="true" />
  <package id="Splat" version="8.1.1" targetFramework="net47" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.Interactive" version="3.2.0" targetFramework="net47" />
  <package id="System.Reactive" version="4.1.5" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net47" />
  <package id="System.Threading.Tasks.Dataflow" version="4.10.0" targetFramework="net47" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
</packages>