<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PersistToAppData" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <!--<add name="ManheimEntities" connectionString="metadata=res://*/Model.ManheimEntities.csdl|res://*/Model.ManheimEntities.ssdl|res://*/Model.ManheimEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=Manheim;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ManheimEntities" connectionString="metadata=res://*/Model.ManheimEntities.csdl|res://*/Model.ManheimEntities.ssdl|res://*/Model.ManheimEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(localdb)\v11.0;Integrated Security=True;AttachDbFileName=C:\Users\dimon\AppData\Roaming\Manheim\DB\MANHEIM.MDF;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
