<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ForexEntities" connectionString="metadata=res://*/Forex.csdl|res://*/Forex.ssdl|res://*/Forex.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DHOME\SQLEXPRESS2008;Initial Catalog=Forex;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="AliceEntities" connectionString="metadata=res://*/Alice.csdl|res://*/Alice.ssdl|res://*/Alice.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=C:\Data\Dev\Forex_Old\Projects\HedgeHog\HedgeHog.Alice.Client\bin\Debug_02\Store\Alice.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="Pairs" value="USD/JPY,EUR/USD,EUR/JPY,USD/CHF" />
  </appSettings>
</configuration>