<?xml version="1.0"?>
<configuration>

    <system.serviceModel>
      <services>
        <service name="HedgeHog.WCF.Trading" behaviorConfiguration="ServiceBehavior">
          <!-- Service Endpoints -->
          <endpoint address="HedgeHog.WCF" binding="netTcpBinding"
              contract="HedgeHog.WCF.ITrading"/>
          <!-- This Endpoint is used for genertaing the proxy for the client -->
          <!-- To avoid disclosing metadata information, set the value below to false and
       remove the metadata endpoint above before deployment -->
          <endpoint address="mex" contract="IMetadataExchange" binding="mexTcpBinding" />
          <host>
            <baseAddresses>
              <add baseAddress="net.tcp://localhost:9100/"/>
            </baseAddresses>
          </host>
        </service>
      </services>
      <behaviors>
        <serviceBehaviors>
          <behavior name="ServiceBehavior">
            <serviceMetadata httpGetEnabled="false"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>
  
  <system.runtime.remoting>
    <customErrors mode="off"/>
    <application>
      <channels>
        <channel ref="TCP" port="8002"/>
      </channels>
    </application>
  </system.runtime.remoting>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
