@{
    ViewBag.Title = "Data";
}
<![if false]>
<script src="../../Scripts/jquery.js" type="text/javascript"></script>
<script src="../../Scripts/jquery-ui-1.8.11.js" type="text/javascript"></script>
<script src="../../Scripts/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
<script src="../../Scripts/date.js" type="text/javascript"></script>
<script src="../../Scripts/Namespace.js" type="text/javascript"></script>
<script src="../../Scripts/knockout.js" type="text/javascript"></script>
<script src="../../Scripts/knockout.data.js" type="text/javascript"></script>
<script src="../../Scripts/knockout.extentions.js" type="text/javascript"></script>
<script src="../../Scripts/knockout.extentions.js" type="text/javascript"></script>
<![endif]>
<style>
  DIV.dataContainer TABLE
  {
    display:inline-table;
  }
  TH
  {
  	text-align:center;
  }
  TFOOT TR TD DIV
  {
    overflow:inherit;
    width:100%;
  }
td input {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
CAPTION
{
  text-transform:capitalize;
}
LEGEND:hover
{
  cursor:default;
  background-color:whitesmoke;
}
</style>
<script>
  $(function () {
    var vm = {
      crud: ["punchTypes", "punchDirections", "punches", "punchPairs"],
      sortPunches: function (name) { vm.punches.sort(function (a, b) { return a[name] > b[name] ? 1 : -1 }) },
      homePath: "/home/"
    };
    $.extend(vm, ko.data.MvcCrud);
    vm.initCrud();
    // Show data
    var def1 = vm.GetData("punchTypes", "#punchTypesTemplate");
    var def2 = vm.GetData("punchDirections", "#punchDirectionsTemplate");
    $.when(def1, def2).done(function () {
      vm.GetData("punches", "#punchesTemplate", function () {
        vm.punches.subscribe(function (a, b) {
          vm.GetData("punchPairs");
          vm.GetData("workShifts");
          //vm.punches.sort(function (a, b) { return a.Time > b.Time ? 1 : -1; });
        });
      });
      vm.GetData("punchPairs", "#punchPairsTemplate");
      vm.GetData("workShifts", "#workShiftsTemplate");
      $("[toggle]").click(function () {
        $(this).parent().children(":not(LEGEND)").toggle();
      });
    });
  });
</script>
<fieldset class="metaData"><legend toggle="true">Punch Card MetaData</legend>
<table id="punchTypesTemplate" style="display:inline-table">
<thead>
  <tr data-bind="foreach:{{columns}},attr:{'data-bind':''}">
    <th data-bind="text:$data,attr:{'data-bind':''}"></th>
  </tr>
  <tr><th>X</th></tr>
</thead>
<tbody data-bind="attr:{'data-bind':'foreach:{{rows}}'}">
<tr data-bind="foreach: {{columns}},attr:{'data-bind':''}">
<td data-bind='attr:{"data-bind": "text: $root.format($data[\""+$data+"\"])"}' align='right'/>
</tr>
<tr><td><input type="button" value="X" data-bind='attr:{"data-bind":"click:$.proxy($root.{{delete}},$root)"}' /></td></tr>
</tbody>
<tfoot>
  <tr data-bind="foreach:{{columns}},attr:{'data-bind':''}">
    <td>
      <input data-bind='attr:{"data-bind":"value: $root.{{new}}[\""+$data+"\"]"}' size="1" />
    </td>
  </tr>
  <tr>
    <td>
      <span>
        <input type="button" value="Add" data-bind='attr:{"data-bind":"click:$root.{{add}}"}' />
      </span>
     </td>
  </tr>
</tfoot>
</table>
<table id="punchDirectionsTemplate" style="display:inline-table">
<thead>
  <tr data-bind="foreach:{{columns}},attr:{'data-bind':''}">
    <th data-bind="text:$data,attr:{'data-bind':''}"></th>
  </tr>
  <tr><th>X</th></tr>
</thead>
<tbody data-bind="attr:{'data-bind':'foreach:{{rows}}'}">
<tr data-bind="foreach: {{columns}},attr:{'data-bind':''}">
<td data-bind='attr:{"data-bind": "text: $root.format($data[\""+$data+"\"])"}' align='right'/>
</tr>
<tr><td><input type="button" value="X"  data-bind='attr:{"data-bind":"click:$.proxy($root.{{delete}},$root)"}' /></td></tr>
</tbody>
<tfoot>
  <tr data-bind="foreach:{{columns}},attr:{'data-bind':''}">
    <td>
      <input data-bind='attr:{"data-bind":"value: $root.{{new}}[\""+$data+"\"]"}' size="1" />
    </td>
  </tr>
  <tr>
    <td>
      <span>
        <input type="button" value="Add" data-bind="click:$root.{{add}}" />
      </span>
     </td>
  </tr>
</tfoot>
</table>
</fieldset>
<table id="punchesTemplate" style="display:inline-table">
<caption>Punches</caption>
<thead>
  <tr data-bind="foreach:{{columns}},attr:{'data-bind':''}">
    <th data-bind="text:$data,attr:{'data-bind':'click:function(){$root.sortPunches(\''+$data+'\')}'}"></th>
  </tr>
  <tr><th>X</th></tr>
</thead>
<tbody data-bind="attr:{'data-bind':'foreach:{{rows}}'}">
<tr data-bind="foreach: {{columns}},attr:{'data-bind':''}">
<td data-bind='attr:{"data-bind": "text: $root.format($data[\""+$data+"\"]),click:function(a,b){$root.update(a,b,\""+$data+"\",[\"punches\"])}"}' align='right'/>
</tr>
<tr><td><input type="button" value="X" tabindex="-1"  data-bind='attr:{"data-bind":"click:$.proxy($root.{{delete}},$root)"}' /></td></tr>
</tbody>
<tfoot>
  <tr>
  <td>
<input data-bind="value: punchesNew.Time" size="1" />
  </td>
  <td><select data-bind="options:punchDirections,
                         optionsText:'Name',
                         optionsValue:'Id',
                         value:punchesNew.Direction" /></td>
  <td><select data-bind="options:punchTypes,
                         optionsText:'Name',
                         optionsValue:'Id',
                         value:punchesNew.Type" /></td>
    <td>
      <span>
        <input type="button" value="Add" data-bind="click:$root.{{add}}" />
      </span>
     </td>
  </tr>
</tfoot>
</table>
<table id="punchPairsTemplate" style="display:inline-table">
<thead>
  <tr data-bind="foreach:{{columns}},attr:{'data-bind':''}">
    <th data-bind="text:$data,attr:{'data-bind':''}"></th>
  </tr>
</thead>
<tbody data-bind="attr:{'data-bind':'foreach:{{rows}}'}">
<tr data-bind="foreach: {{columns}},attr:{'data-bind':''}">
<td data-bind='attr:{"data-bind": "text: $root.format($data[\""+$data+"\"])"}' align='right'/>
</tr>
</tbody>
</table>
<table id="workShiftsTemplate" style="display:inline-table">
<thead>
  <tr data-bind="foreach:{{columns}},attr:{'data-bind':''}">
    <th data-bind="text:$data,attr:{'data-bind':''}"></th>
  </tr>
</thead>
<tbody data-bind="attr:{'data-bind':'foreach:{{rows}}'}">
<tr data-bind="foreach: {{columns}},attr:{'data-bind':''}">
<td data-bind='attr:{"data-bind": "text: $root.format($data[\""+$data+"\"])"}' align='right'/>
</tr>
</tbody>
</table>


