@{
    ViewBag.Title = "Data";
}
<![if false]>
<script src="../../Scripts/MicrosoftAjax.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.js" type="text/javascript"></script>
<script src="../../Scripts/jquery-ui-1.8.11.js" type="text/javascript"></script>
<script src="../../Scripts/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
<script src="../../Scripts/date.js" type="text/javascript"></script>
<script src="../../Scripts/Namespace.js" type="text/javascript"></script>
<script src="../../Scripts/knockout.js" type="text/javascript"></script>
<script src="../../Scripts/knockout.data.js" type="text/javascript"></script>
<script src="../../Scripts/knockout.extentions.js" type="text/javascript"></script>
<script src="../../Scripts/knockout.extentions.js" type="text/javascript"></script>
<script src="../../Scripts/knockout.data.selected.js" type="text/javascript"></script>
<![endif]>
<style>
  HTML,BODY
  {
    height:100%;
    padding:0px;
    margin:0px;
  }
  #menucontainer,#header
  {
    display:none;
  }
  .page,#main
  {
    padding:0px;
    margin:0px;
    height:100%;
    width:100%;
  }
  TABLE THEAD TH,
  TABLE TBODY TD
  {
  	cursor:default;
  }
  TABLE THEAD TH
  {
    text-align:center;
  }
  TFOOT TR TD DIV
  {
    overflow:inherit;
    width:100%;
  }
td input {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
CAPTION
{
  text-transform:capitalize;
}
LEGEND:hover
{
  cursor:default;
  background-color:whitesmoke;
}
FIELDSET.metaData >TABLE
{
  display:none;
}
FIELDSET.metaData >TABLE+TABLE
{
  margin-left:15px;
}
TABLE TR:hover TD
{
	background-color:whitesmoke;
}
TABLE TR.selected TD
{
  background:#F5E9EF;
}
</style>
<script>
  $(function () {
    var vm = new (function () {
      var self = this;
      this.debug = true;
      this.crud = ["punchTypes", "punchDirections", "punches", "punchPairs"];
      this.headers = { punches: { IsOutOfSequence: "OoS"} };
      this.sortPunches = function (name) { vm.punches.sort(function (a, b) { return a[name] > b[name] ? 1 : -1 }) };
      this.homePath = "/home/";
      this.rowNavigation = function (data, e, rowsName) {
        var rows = $.D.sure(this, rowsName);
        var current = (this.selectedRowsByParent(rowsName)[0] || {}).data;
        var select;
        switch (e.key) {
          case "Up":
            select = current ? rows()[Math.max(0, rows.indexOf(current) - 1)] : rows()[rows().length - 1];
            break;
          case "Down":
            select = current ? rows()[Math.min(rows().length - 1, rows.indexOf(current)) + 1] : rows()[0];
            break;
        }
        if (select)
          this.selectRow(select, rowsName);
      }
      this.onPunchesSelected = function (data) {
        var time = data ? new Date(ko.utils.unwrapObservable($.D.sure(data, "time"))) : Date.now();
        this.selectRowByProp(data, "punchPairs", function (a) {
          return time.between(ko.utils.unwrapObservable(a.Start), ko.utils.unwrapObservable(a.Stop));
        });
      }
      this.onPunchPairsSelected = function (data) {
        var start = data ? ko.utils.unwrapObservable($.D.sure(data, "Start")) : Date.now();
        this.selectRowByProp(data, "workShifts", function (a) {
          return start.between(ko.utils.unwrapObservable(a.Start), ko.utils.unwrapObservable(a.Stop));
        });
      }
    })();
    $.extend(vm, ko.data.MvcCrud, ko.data.selected);
    vm.onRowSelected.subscribe(function (sr, a, b) {
      var h = $.D.prop(vm, "on" + sr.rows + "Selected");
      if ($.isFunction(h)) h.call(vm, sr.data);
    }, vm);
    vm.initCrud();
    // Show data
    var def1 = vm.GetData("punchTypes", "#punchTypesTemplate");
    var def2 = vm.GetData("punchDirections", "#punchDirectionsTemplate");
    $.when(def1, def2).done(function () {
      vm.GetData("punches", "#punchesTemplate", null, function () {
        vm.punches.subscribe(function (a, b) {
          vm.GetData("punchPairs");
          vm.GetData("workShifts");
          //vm.punches.sort(function (a, b) { return a.Time > b.Time ? 1 : -1; });
        });
      });
      vm.GetData("punchPairs", "#punchPairsTemplate");
      vm.GetData("workShifts", "#workShiftsTemplate");
      $("[toggle]").click(function () {
        $(this).parent().children(":not(LEGEND)").toggle();
      });
    });
  });
</script>
<fieldset class="metaData"><legend toggle="true">Punch Card MetaData</legend>
<table id="punchTypesTemplate" style="float:left">
<thead>
  <tr data-bind="foreach:{{columns}},attr:{'data-bind':''}">
    <th data-bind="text:$data,attr:{'data-bind':''}"></th>
  </tr>
  <tr><th>X</th></tr>
</thead>
<tbody data-bind="attr:{'data-bind':'foreach:{{rows}}'}">
<tr data-bind="foreach: {{columns}},attr:{'data-bind':''}">
<td data-bind='attr:{"data-bind": "text: $root.format($data[\""+$data+"\"])"}' align='right'/>
</tr>
<tr><td><input type="button" value="X" data-bind='attr:{"data-bind":"click:$.proxy($root.{{delete}},$root)"}' /></td></tr>
</tbody>
<tfoot>
  <tr data-bind="foreach:{{columns}},attr:{'data-bind':''}">
    <td>
      <input data-bind='attr:{"data-bind":"value: $root.{{new}}[\""+$data+"\"]"}' size="1" />
    </td>
  </tr>
  <tr>
    <td>
      <span>
        <input type="button" value="Add" data-bind='attr:{"data-bind":"click:$root.{{add}}"}' />
      </span>
     </td>
  </tr>
</tfoot>
</table>
<table id="punchDirectionsTemplate" style="float:left">
<thead>
  <tr data-bind="foreach:{{columns}},attr:{'data-bind':''}">
    <th data-bind="text:$data,attr:{'data-bind':''}"></th>
  </tr>
  <tr><th>X</th></tr>
</thead>
<tbody data-bind="attr:{'data-bind':'foreach:{{rows}}'}">
<tr data-bind="foreach: {{columns}},attr:{'data-bind':''}">
<td data-bind='attr:{"data-bind": "text: $root.format($data[\""+$data+"\"])"}' align='right'/>
</tr>
<tr><td><input type="button" value="X"  data-bind='attr:{"data-bind":"click:$.proxy($root.{{delete}},$root)"}' /></td></tr>
</tbody>
<tfoot>
  <tr data-bind="foreach:{{columns}},attr:{'data-bind':''}">
    <td>
      <input data-bind='attr:{"data-bind":"value: $root.{{new}}[\""+$data+"\"]"}' size="1" />
    </td>
  </tr>
  <tr>
    <td>
      <span>
        <input type="button" value="Add" data-bind="click:$root.{{add}}" />
      </span>
     </td>
  </tr>
</tfoot>
</table>
</fieldset>
<table id="punchesTemplate" style="float:left">
<caption>Punches</caption>
<thead>
  <tr data-bind="foreach:{{headers}},attr:{'data-bind':''}">
    <th data-bind="text:$data,attr:{'data-bind':'click:function(){$root.sortPunches(\''+$data+'\')}'}"></th>
  </tr>
  <tr><th>X</th></tr>
</thead>
<tbody data-bind="attr:{'data-bind':'foreach:{{rows}}'}">
<tr data-bind="foreach: {{columns}},attr:{'data-bind':'event:{keydown:function(a,b){$parent.rowNavigation(a,b,\'{{rows}}\')}}'}">
<td data-bind='attr:{"data-bind": "html: $root.format($data[\""+$data+"\"]),click:function(a,b){$root.update(a,b,\""+$data+"\",[\"punches\"])}"}' align='right'/>
</tr>
<tr><td><input type="button" value="X" tabindex="-1"  data-bind='attr:{"data-bind":"click:$.proxy($root.{{delete}},$root)"}' /></td></tr>
</tbody>
<tfoot>
  <tr>
  <td>
<input data-bind="value: punchesNew.Time" size="1" />
  </td>
  <td><select data-bind="options:punchDirections,
                         optionsText:'Name',
                         optionsValue:'Id',
                         value:punchesNew.DirectionId" /></td>
  <td><select data-bind="options:punchTypes,
                         optionsText:'Name',
                         optionsValue:'Id',
                         value:punchesNew.TypeId" /></td>
  <td>
  <input type="checkbox" data-bind="checked:punchesNew.IsOutOfSequence" />
  </td>
    <td>
      <span>
        <input type="button" value="Add" data-bind="click:$root.{{add}}" />
      </span>
     </td>
  </tr>
</tfoot>
</table>
<table id="punchPairsTemplate" style="display:inline-table">
<thead>
  <tr data-bind="foreach:{{columns}},attr:{'data-bind':''}">
    <th data-bind="text:$data,attr:{'data-bind':''}"></th>
  </tr>
</thead>
<tbody data-bind="attr:{'data-bind':'foreach:{{rows}}'}">
<tr data-bind="foreach: {{columns}},attr:{'data-bind':''}">
<td data-bind='attr:{"data-bind": "text: $root.format($data[\""+$data+"\"])"}' align='right'/>
</tr>
</tbody>
</table>
<table id="workShiftsTemplate" style="display:inline-table">
<thead>
  <tr data-bind="foreach:{{columns}},attr:{'data-bind':''}">
    <th data-bind="text:$data,attr:{'data-bind':''}"></th>
  </tr>
</thead>
<tbody data-bind="attr:{'data-bind':'foreach:{{rows}}'}">
<tr data-bind="foreach: {{columns}},attr:{'data-bind':''}">
<td data-bind='attr:{"data-bind": "text: $root.format($data[\""+$data+"\"])"}' align='right'/>
</tr>
</tbody>
</table>


