<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings">
      <section name="AppPersist.XamlPersist" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <AppPersist.XamlPersist>
      <setting name="Dictionary" serializeAs="Xml">
        <value>
          <dictionary>
            <item key="/HedgeHog;component/hedgehogmainwindow.xaml.HedgeHogMainWindow[1].Left"
                value="2" />
            <item key="/HedgeHog;component/hedgehogmainwindow.xaml.HedgeHogMainWindow[1].Top"
                value="2" />
            <item key="/HedgeHog;component/hedgehogmainwindow.xaml.HedgeHogMainWindow[1].Height"
                value="216" />
            <item key="/HedgeHog;component/hedgehogmainwindow.xaml.HedgeHogMainWindow[1].Width"
                value="538" />
            <item key="/HedgeHog;component/hedgehogmainwindow.xaml.TextBox[txtAccNum].Text"
                value="MICR379368001" />
            <item key="/HedgeHog;component/hedgehogmainwindow.xaml.TextBox[txtPassword].Text"
                value="45" />
            <item key="/HedgeHog;component/hedgehogmainwindow.xaml.ComboBox[cmbPair].Text"
                value="EUR/JPY" />
            <item key="/HedgeHog;component/hedgehogmainwindow.xaml.CheckBox[chkDemo].IsChecked"
                value="True" />
            <item key="/HedgeHog;component/hedgehogmainwindow.xaml.CheckBox[chkAutoPilot].IsChecked"
                value="True" />
            <item key="/HedgeHog;component/hedgehogmainwindow.xaml.CheckBox[chkAutoAdjust].IsChecked"
                value="True" />
            <item key="/HedgeHog;component/hedgehogmainwindow.xaml.TextBox[txtLeverage].Text"
                value="400" />
            <item key="/HedgeHog;component/hedgehogmainwindow.xaml.TextBox[txtTradeDelta].Text"
                value="2" />
            <item key="/HedgeHog;component/hedgehogmainwindow.xaml.ComboBox[cmbLotsToTrade].Text"
                value="100" />
            <item key="/HedgeHog;component/hedgehogmainwindow.xaml.TextBox[txtStartingBalance].Text"
                value="5000" />
            <item key="/HedgeHog;component/hedgehogmainwindow.xaml.TextBox[txtPipsToMCHistory].Text"
                value="494" />
            <item key="/HedgeHog;component/hedgehogmainwindow.xaml.TextBox[txtMinEquityHistory].Text"
                value="51992" />
            <item key="/HedgeHog;component/charting.xaml.Charting[1].Left"
                value="1049" />
            <item key="/HedgeHog;component/charting.xaml.Charting[1].Top"
                value="2" />
            <item key="/HedgeHog;component/charting.xaml.Charting[1].Height"
                value="164" />
            <item key="/HedgeHog;component/charting.xaml.Charting[1].Width"
                value="154" />
            <item key="/HedgeHog;component/charting.xaml.TextBox[txtMaximasCount].Text"
                value="3" />
            <item key="/HedgeHog;component/charting.xaml.TextBox[txtSellOnProfit].Text"
                value="4" />
            <item key="/HedgeHog;component/charting.xaml.TextBox[txtPositionsAddOn].Text"
                value="1" />
            <item key="/HedgeHog;component/charting.xaml.CheckBox[chkMoveTimeFrameByPos].IsChecked"
                value="False" />
            <item key="/HedgeHog;component/charting.xaml.CheckBox[chkCloseOnReverseOnly].IsChecked"
                value="False" />
            <item key="/HedgeHog;component/charting.xaml.TextBox[txtVoltageCMAPeriod].Text"
                value="50" />
            <item key="/HedgeHog;component/charting.xaml.CheckBox[chkShowOtherCorridors].IsChecked"
                value="False" />
            <item key="/HedgeHog;component/charting.xaml.CheckBox[chkSpeedWeight].IsChecked"
                value="False" />
            <item key="/HedgeHog;component/charting.xaml.CheckBox[chkWaveWeight].IsChecked"
                value="False" />
            <item key="/HedgeHog;component/charting.xaml.TextBox[txtWaveMinRatio].Text"
                value="1" />
            <item key="/HedgeHog;component/charting.xaml.TextBox[txtEdgeMargin].Text"
                value=".15" />
            <item key="/HedgeHog;component/charting.xaml.TextBox[txtProfitMin].Text"
                value="2" />
            <item key="/HedgeHog;component/charting.xaml.CheckBox[chkDB].IsChecked"
                value="False" />
            <item key="/HedgeHog;component/charting.xaml.TextBox[txtBSPeriodMin].Text"
                value="1" />
            <item key="/HedgeHog;component/charting.xaml.TextBox[txtSpreadRatio].Text"
                value="1.05" />
            <item key="/HedgeHog;component/charting.xaml.TextBox[txtSpreadMinutesBack].Text"
                value="1600" />
            <item key="/HedgeHog;component/charting.xaml.TextBox[txtfirstBarRow].Text"
                value="1" />
            <item key="/HedgeHog;component/charting.xaml.TextBox[txtVoltageTimeFrame].Text"
                value="0" />
            <item key="/HedgeHog;component/charting.xaml.TextBox[txtVolatilityMin].Text"
                value="1.2" />
            <item key="/HedgeHog;component/charting.xaml.TextBox[txtFoo].Text"
                value="8" />
            <item key="/HedgeHog;component/charting.xaml.ComboBox[cbPositionFoo].SelectedIndex"
                value="2" />
            <item key="/HedgeHog;component/corridors.xaml.Corridors[1].Left"
                value="548" />
            <item key="/HedgeHog;component/corridors.xaml.Corridors[1].Top"
                value="1" />
            <item key="/HedgeHog;component/corridors.xaml.Corridors[1].Height"
                value="200" />
            <item key="/HedgeHog;component/corridors.xaml.Corridors[1].Width"
                value="507" />
            <item key="/HedgeHog;component/charting.xaml.CheckBox[chkSaveVoltsToFile].IsChecked"
                value="False" />
            <item key="/HedgeHog;component/charting.xaml.CheckBox[chkFastClose].IsChecked"
                value="False" />
            <item key="/HedgeHog;component/charting.xaml.CheckBox[chkTradeHighLow].IsChecked"
                value="True" />
            <item key="/HedgeHog;component/charting.xaml.CheckBox[chkCloseOnProfitOnly].IsChecked"
                value="True" />
            <item key="/HedgeHog;component/charting.xaml.ComboBox[cbRegressionMode].SelectedIndex"
                value="0" />
          </dictionary>
        </value>
      </setting>
    </AppPersist.XamlPersist>
  </userSettings>
</configuration>