<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HedgeHog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HedgeHog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="HedgeHog.Properties.Settings.ForexConnectionString" connectionString="Data Source=.\SQLEXPRESS2008;Initial Catalog=Forex;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
  </connectionStrings>
  <applicationSettings>
    <HedgeHog.Properties.Settings>
      <setting name="ServerUrl" serializeAs="String">
        <value>http://www.fxcorporate.com</value>
      </setting>
    </HedgeHog.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <HedgeHog.Properties.Settings>
      <setting name="MainWindowSize" serializeAs="String">
        <value>100, 100</value>
      </setting>
      <setting name="MainWindowPos" serializeAs="String">
        <value>100, 100</value>
      </setting>
      <setting name="AutoPilot" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Pair" serializeAs="String">
        <value>EUR/JPY</value>
      </setting>
      <setting name="Leverage" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>MICR330397001</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>7255</value>
      </setting>
      <setting name="LotsToTrade" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TradeDelta" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="StartingBalance" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="SLtoTPRatio" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="BarsPeriodMin" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="BarsSLPeriod" serializeAs="String">
        <value>H1</value>
      </setting>
      <setting name="EdgeMargin" serializeAs="String">
        <value>0.3</value>
      </setting>
      <setting name="StopLossAddOn" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="BarsPeriodMax" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="PipsToMCHistory" serializeAs="String">
        <value>10000000</value>
      </setting>
      <setting name="PowerAverageMinimum" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CloseOnReverse" serializeAs="String">
        <value>True</value>
      </setting>
    </HedgeHog.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ITrading" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:9100/HedgeHog.WCF" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ITrading" contract="TradingService.ITrading"
        name="NetTcpBinding_ITrading">
        <identity>
          <userPrincipalName value="DHOME\dimon" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="HedgeHog.Service1Behavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="HedgeHog.Service1Behavior" name="HedgeHog.Service1">
        <endpoint address="" binding="wsHttpBinding" contract="HedgeHog.IService1">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/HedgeHog/Service1/"/>
          </baseAddresses>
        </host>
      </service>

      <service name="HedgeHog.Alice.WCF.TraderService" behaviorConfiguration="ServiceBehavior">
        <!-- Service Endpoints -->
        <endpoint address="HedgeHog.Alice.WCF" binding="netTcpBinding"
            contract="HedgeHog.Alice.WCF.ITraderService"/>
        <!-- This Endpoint is used for genertaing the proxy for the client -->
        <!-- To avoid disclosing metadata information, set the value below to false and
       remove the metadata endpoint above before deployment -->
        <endpoint address="mex" contract="IMetadataExchange" binding="mexTcpBinding" />
        <host>
          <baseAddresses>
            <!--<add baseAddress="net.tcp://localhost:9101/"/>-->
          </baseAddresses>
        </host>
      </service>


    </services>
  </system.serviceModel>
</configuration>
