<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!-- Unity -->
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
		<!-- Log4Net [DV] -->
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" requirePermission="false"/>
		<!-- Client Logging section [DV]-->
		<section name="Clog" type="DanielVaughan.Logging.Configuration.ClientLoggingConfigurationSectionHandler, DanielVaughan.Logging"/>
	</configSections>
	<appSettings>
		<add key="WebBrowserStartUrl" value="http://wpfdisciples.wordpress.com/bios/"/>
		<!-- Themes: "Default", "Bureau Blue" -->
		<add key="Theme" value="Default"/>
	</appSettings>

	<!--	Clog [DV]
				InternalLogLevel is used to monitor log messages originating from Clog, 
				and which are written to the console. Valid values are (from less to most restrictive): 
				All, Debug, Info, Warn, Error, Fatal, None. 
				Xmlns is specified in order to gain intellisense within the Visual Studio config editor. 
				Place the Clog schema located in the project\Schemas directory 
				into C:\Program Files\Microsoft Visual Studio 9.0\Xml\Schemas directory. 
				SkipFrameCount is used to specify the number of frames to skip when resolving 
				the calling method of a write log call. Defaults to 4 if absent. -->
	<Clog xmlns="http://danielvaughan.orpius.com/Clog/2/0/" InternalLogLevel="All" SkipFrameCount="5">
		<LogStrategy Name="Console" Type="DanielVaughan.Logging.LogStrategies.ConsoleStrategy, DanielVaughan.Logging" />
		<LogStrategy Name="Client" Type="DanielVaughan.Logging.LogStrategies.ClientStrategy, DanielVaughan.Logging" />
		<!--<LogStrategy Name="Log4Net" Type="DanielVaughan.Logging.LogStrategies.Log4NetStrategy, DanielVaughan.Logging.Log4NetLogStrategy" />-->
	</Clog>
	<!-- TypeVerification Exclude : log4net.* -->
	<!-- log4net [DV] -->
	<log4net debug="true" xmlns="urn:log4net">
		<!-- debug="true"  -->
		<appender name="UdpAppender" type="log4net.Appender.UdpAppender">
			<!-- 127.0.0.3 remedies and IPV6 defect in Log4Net. -->
			<param name="RemoteAddress" value="127.0.0.3"/>
			<param name="RemotePort" value="8080"/>
			<layout type="log4net.Layout.XmlLayout">
				<param name="Prefix" value=""/>
			</layout>
		</appender>
		<root>
			<level value="ALL"/>
			<appender-ref ref="UdpAppender"/>
		</root>
		<!-- Clog requires url in logger names to be lower case. 
			When using Clog on localhost, paths are relative. -->
		<logger name="ExampleWpfApplication.Window1">
			<level value="INFO" />
		</logger>
	</log4net>

	<unity>
		<typeAliases>
		</typeAliases>
		<containers>
			<container>
				<types>
				</types>
				<instances>
				</instances>
			</container>
		</containers>
	</unity>

	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="wsHttpBinding" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true"
                            algorithmSuite="Default" establishSecurityContext="true" />
					</security>
				</binding>
			</wsHttpBinding>

			<!-- This binding is used for callback wcf features -->
			<wsDualHttpBinding>
				<binding name="wsDualHttpBinding" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:02:00"
								 sendTimeout="00:02:00" bypassProxyOnLocal="false" transactionFlow="false"
								 hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="0" maxReceivedMessageSize="2147483647"
								 messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
					<readerQuotas
            maxDepth="2147483647"
            maxStringContentLength="2147483647"
            maxArrayLength="2147483647"
            maxBytesPerRead="2147483647"
            maxNameTableCharCount="2147483647" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00" />
					<security mode="Message">
						<message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
					</security>
				</binding>
			</wsDualHttpBinding>
		</bindings>
		<client>
			<!-- Clog Service -->
			<endpoint name="WSHttpBinding_IClogService"
								address="http://localhost:11965/ClogService.svc" 
								contract="DanielVaughan.Logging.IClogService"
								binding="wsHttpBinding" 
                bindingConfiguration="wsHttpBinding">
			</endpoint>
			<!-- Communication Service -->
			<endpoint name="CommunicationService"
								contract="DanielVaughan.Calcium.ClientServices.ICommunicationService"
								address="http://localhost:11965/CommunicationService.svc"
								binding="wsDualHttpBinding"
								bindingConfiguration="wsDualHttpBinding">
			</endpoint>
			<!-- Demo Service -->
			<endpoint name="DemoService"
								contract="DanielVaughan.Calcium.ClientServices.IDemoService"
								address="http://localhost:11965/DemoService.svc"
								binding="wsHttpBinding"
								bindingConfiguration="wsHttpBinding">
			</endpoint>
		</client>
	</system.serviceModel>

</configuration>