<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="ForexEntities" connectionString="metadata=res://*/Forex.csdl|res://*/Forex.ssdl|res://*/Forex.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DIMONFX\sqlexpress;initial catalog=Forex;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ForexEntities" connectionString="metadata=res://*/Forex.csdl|res://*/Forex.ssdl|res://*/Forex.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DIMONFX;initial catalog=FOREX;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>