<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding" maxBufferPoolSize="10000000">
          <readerQuotas maxArrayLength="10000000" maxBytesPerRead="1000000000"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="HedgeHog.Alice.Server.PriceService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="HedgeHog.Alice.Server.IPriceService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8732/Design_Time_Addresses/HedgeHog.Alice.Server/PriceService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
