<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <apikeys>
    <add key="https://www.nuget.org" value=""/>
  </apikeys>
  <packageSources>
    <add key="NuGet official package source" value="https://www.nuget.org" />
  </packageSources>
  <packageSourceCredentials>
    <feedName>
      <add key="Username" value="dimok" />
      <add key="ClearTextPassword" value="********" />
    </feedName>
  </packageSourceCredentials>
</configuration>