<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net40" />
  <package id="DynamicExpresso.Core" version="0.8.0.0" targetFramework="net40" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" requireReinstallation="True" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net40" requireReinstallation="True" />
  <package id="Ix-Main" version="1.2.2" targetFramework="net451" />
  <package id="log4net" version="1.2.10" targetFramework="net451" />
  <package id="Microsoft.Composition" version="1.0.20" targetFramework="net451" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.14" targetFramework="net451" />
  <package id="MvvmLightLibs" version="4.2.30.0" targetFramework="net451" />
  <package id="NLog" version="2.0.1.2" targetFramework="net40" requireReinstallation="True" />
  <package id="NuGet.ReactiveUI" version="1.0.0" targetFramework="net451" />
  <package id="Rx-Core" version="2.2.2" targetFramework="net451" />
  <package id="Rx-Interfaces" version="2.2.2" targetFramework="net451" />
  <package id="Rx-Linq" version="2.2.2" targetFramework="net451" />
  <package id="Rx-Main" version="2.2.2" targetFramework="net451" />
  <package id="Rx-PlatformServices" version="2.2.2" targetFramework="net451" />
  <package id="Rx-WPF" version="2.2.2" targetFramework="net451" />
  <package id="Rx-XAML" version="2.2.2" targetFramework="net451" />
  <package id="WebActivator" version="1.4.1" requireReinstallation="True" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net451" />
</packages>